@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<br>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid">
      <h4 class="mdl-cell mdl-cell--12-col">@Html.DisplayFor(model => model.Name)'s Clients:</h4>
      <hr>
      @if (Model.Clients.Count == 0)
      {
        <p>This stylist has no clients.</p>
      }
      <ul>
        @foreach (Client client in @Model.Clients)
        {
          <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
        }
      </ul>
    </div>
    <div class="mdl-card__actions">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Back to List", "Index")</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Edit This Stylist", "Edit", new { id = Model.StylistId })</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Delete This Stylist", "Delete", new { id = Model.StylistId })</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Add a Client", "Create", "Clients")</button>
    </div>
  </div>
</section>
<br>