@{
  Layout = "_Layout";
}
@model EauClairesSalon.Models.Stylist
<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Speciality)
  @Html.EditorFor(model => model.Speciality)

  @Html.LabelFor(model => model.HireDate)
  @Html.EditorFor(model => model.HireDate)

  <input type = "submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>