@{
  Layout = "_Layout";
}

@using EauClairesSalon.Models;
@using System.Collections.Generic;
@model List<EauClairesSalon.Models.Stylist>;

<br>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid">
      <h4 class="mdl-cell mdl-cell--12-col">Your stylists:</h4>
      @if (@Model.Count == 0)
      {
        <h3>No stylists have been added yet!</h3>
      }
      <ul>
        @foreach(Stylist stylist in Model)
        {
          <hr>
          <li class="mdl-list__item mdl-list__item--three-line">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons  mdl-list__item-avatar">person</i>
              <span>@Html.ActionLink($"{stylist.Name}", "Details", new { id = stylist.StylistId })</span>
              <span class="mdl-list__item-text-body">
                <p>Hire Date: @stylist.HireDate, Speciality: @stylist.Speciality</p>
              </span>
            </span>
          </li>
        }
      </ul>
  </div>
      <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Add new stylist", "Create")</button>
      </div>
      <div class="mdl-card__actions">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Home", "Index", "Home")</button>
      </div>
    </div>
</section>
<br>
