@{
  Layout = "_Layout";
}

@model EauClairesSalon.Models.Client

<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card bg-info my-5">
      <div class="card-body">
        <h4>Add a new client</h4>
        @using (Html.BeginForm())
        {
          <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new{ @class="form-control"})
          </div>
          <div class="form-group">
            @Html.LabelFor(model => model.Notes)
            @Html.TextBoxFor(model => model.Notes, new{ @class="form-control"})
          </div>
          <div class="dropdown">
            @Html.LabelFor(model => model.Stylist)
            @Html.DropDownList("StylistId")
          </div>

          <button class="btn btn-light" type="submit">Add</button>
        }
      </div>
    </div>
  </div>
</div>