@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Client

<br>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid">
      <h4 class="mdl-cell mdl-cell--12-col">@Html.DisplayFor(model => model.Name)</h4>
      <hr>
      <p>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)<p>
    </div>
    <div class="mdl-card__actions">
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Back to List", "Index")</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Edit This Client", "Edit", new { id = Model.ClientId })</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">@Html.ActionLink("Delete This Client", "Delete", new { id = Model.ClientId })</button>
    </div>
  </div>
</section>
<br>